@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

.panelButton {
  @apply bg-[#f5f5f5] rounded-full p-6 text-lg w-50 h-20;
}

@keyframes scale-menu-resize {
  from {
    height: calc(var(--spacing) * 20);
  }
  to {
    height: calc(var(--spacing) * 47);
  }
}

.animate-scale-menu-increase {
  animation: scale-menu-resize 0.25s ease-in-out;
}
