@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

.panelButton {
  @apply bg-[#f5f5f5] rounded-full p-6 text-lg sm:w-50 w-45 h-20;
}

@keyframes scale-menu-resize {
  from {
    height: calc(var(--spacing) * 20);
  }
  to {
    height: calc(var(--spacing) * 47);
  }
}

.animate-scale-menu-increase {
  animation: scale-menu-resize 0.25s ease-in-out;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
